<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MKoa</title>
    <link href="../css/base.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script echarts="../lib/IE/html5shiv.js"></script>
    <script echarts="../lib/IE/json3.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="../lib/IE/querySelector.js"></script>
    <![endif]-->
    <script src="../lib/avalon.js"></script>
    <script src="../lib/app.js"></script>
</head>
<body ms-controller="app" ms-class="closemenu:closeMenu">
<div class="g-hd f-cb" id="top" >
    <a href="#" class="f-fl logo">
        <!--<img src="images/logo.png" alt="logo"/>-->
        <span>MKOA</span>
    </a>
    <span class="m-top-nav ant-cColor" onclick="app.closeMenu=!app.closeMenu;">三</span>
    <span class="f-fl m-top-right"></span>
</div>
<div class="g-sd">
    <div class="m-menu">
        <ul>
            <li ms-class="m-menu-title" ms-repeat="leftMenu">
                <div class="m-menu-h1">
                    &nbsp;&nbsp;{{$key}}
                </div>
                <div>
                <span ms-repeat-obj="$val">
                    <a ms-attr-href="obj.url" ms-class="on:(obj.url==avalon.vmodels['router'].curHref)" class="m-menu-a">· {{obj.name}}</a>
                </span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--主体内容-->
<div class="g-mn" ms-controller="router">
    <div ms-include-src="curTpl" class="f-p15" ></div>
</div>
<script>
    require(["KoaFunctions","mkoaAjax/mkoaAjax","mmRouter/mmRouter"], function (F,$a) {
        //菜单数据
        $a.getJSON(app.$host +'builder/main/getMenu',{t:new Date().getTime()},function(data){//获取列表数据
            if(!data.error){
                app.leftMenu=data.data;
            }
        });
        app.lgout=function(){F.lgout()};//定义退出方法
        //F.checkLogin(function(){
            F.router(app.$host+'index.html?'+app.$v);//初始化路由
        //});
    });

</script>
</body>
</html>